* {
  font-family: sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 50px;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1129092.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.body {
  background-color: rgba(255, 255, 255, 0.692);
  padding: 25px;
  width: 500px;
  border-radius: 5px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  color: white;
  border-radius: 7px;
  border: none;
  background-color: rgb(75, 122, 221);
  padding: 10px;
  margin: 0 5px;
}

.delete {
  background-color: rgb(231, 94, 94);
}

table {
  border-collapse: collapse;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

thead {
  padding: 10px 10px;
}

td, th {
  padding: 5px;
}
